header {
    margin: 0;
    padding-top: 25%;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

.textbox {
    border: solid 2px black;
    width: 500px;
    padding: 10px;
    height: 200px;
    margin: auto;
    text-align: justify;
}

.textbox h1, h3, li {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}